/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./calender.css";
@import "./profile.css";
@import "./navbar.css";
@import "./infoform.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
}

.gradient {
  background: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
}

body{
  @apply font-body leading-normal tracking-normal text-white gradient;
}

.section-divider{
  @apply bg-gradient-to-r rounded-full from-purple-700 via-blue-800 to-blue-300
   ml-2 mt-1 mb-4 h-0.5 w-7;
}

.gradient-text{
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-green-600 to-green-800;
}
