/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import "./calender.css";
@import "./profile.css";
@import "./navbar.css";
@import "./infoform.css";
@import "./confirm.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
}

.gradient {
  background: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
}

body{
  @apply font-body leading-normal tracking-normal text-white gradient;
}

.section-divider{
  @apply rounded-full gradient
  mt-1 mb-10 h-1 w-14;
}

.section-title{
  @apply text-lg font-bold;
}

.gradient-text{
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-green-600 to-green-800;
}

.flag{
  @apply border-8 h-28 w-28 rounded-full overflow-hidden relative mx-auto
  transition-all duration-500 ease-in-out hover:border-green-400;
}

.flag.selected{
  @apply border-green-600;
}
